.PasswordTextFieldForm__container {
  display: flex;
  gap: 10px;
  width: 100%;  

}

.PasswordTextFieldForm__textField {
  width: 100%;
  border-radius: 2px;
  background-color: #f0f0f0;
  border-color: transparent;
  font-size: 10px;
}

